body{
	background-color:#191919;
	color:white;
	font-family:"Consolas";
	text-align:center;
	font-size:1.75vh;
}
div{
	border:1px solid;
	border-color:#ffffff;
}
ul{
	list-style:none;
}
h1{
	margin-top:4vh;
	margin-top:4vh;
	font-size:4vw
}
form{
	border:1px solid;
	border-color:#ffffff;
}

#logo{
	max-height:40vh;
	max-width:80vw;
}

#map-div svg {
	width: 100%;
	height: auto;
	max-height:65vh;
	min-width:200px;
}
path {
	fill: #000000;
	fill-rule: evenodd;
	stroke-width: 1.0015748;
	stroke-linejoin:round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke: #ffffff;
	stroke-opacity: 1;
	fill-opacity: 0.50196081;
}
button{
	min-height:3vh;
	font-size:2vh
}

#submarines g path, #aircraftCarriers g path{
	fill: #ffffff;
	stroke: #318ce7;
	fill-opacity:0;
}
#submarines g path:hover, #aircraftCarriers g path:hover{
	fill: #ffffff;
	stroke: #318ce7;
	fill-opacity: 1;
}

#worldMap g g path.empty{
	fill:#000000;
	fill-opacity:1;
	stroke: #ff0000;
}
/* #worldMap g g path.empty:hover{ */
	/* fill:#4ed34e; */
	/* fill-opacity:0.75294119; */
	/* stroke: #00ff00; */
/* } */

#worldMap g g path.active{
	fill:#9cc8f3;
	stroke: #00ff00;
}
#worldMap g g path.active:hover{
	fill:#4ed34e;
	fill-opacity:0.75294119;
	stroke: #00ff00;
}

#worldMap g g path.alerted{
	fill:#9cc8f3;
	fill-opacity:0.75294119;
}
#worldMap g g path.alerted:hover{
	fill:#9cc8f3;
	fill-opacity:1;
}

#tubes g path{
	fill: #000000;
	stroke: #ffffff;
	fill-opacity:100;
}
#tubes g path:hover{
	fill: #ffffff;
	stroke: #ffffff;
	fill-opacity:100;
}
#range {
	pointer-events : none;
	fill: url(#rangeGradient);
	stroke: #318ce7;
}
#alertedRange {
	pointer-events : none;
	fill: url(#rangeAlertedGradient);
	stroke: #318ce7;
	stroke-opacity: 0.5;
}
.activatedRange {
	pointer-events : none;
	fill: url(#rangeActivatedGradient);
	stroke: #00ff00;
	stroke-opacity: 0.5;
}
.targetArrow {
	pointer-events : none;
	marker-end : url(#arrowhead);
	stroke: #00ff00;
	stroke-opacity: 0.5;
	stroke-width:8;
}
#arrowhead {
	fill:#00ff00;
	fill-opacity: 0.5;
	stroke: #00ff00;
	stroke-opacity: 0.5;
	stroke-linejoin:round;
	
}
image {
	pointer-events : none;
}
path:hover{
	fill: #cccccc;
	fill-opacity: 0.5;
}
path#RUDF{
	fill:#318ce7;
	fill-opacity:0.75294119;
}
path#RUDF:hover{
	fill-opacity:1;
}
path.target{
	fill:#f39696;
	fill-opacity:0.75294119;
}
path.target:hover{
	fill-opacity:1;
}
path.ennemy{
	fill:#e73131;
	fill-opacity:0.75294119;
}
path.ennemy:hover{
	fill-opacity:1;
}
path.destroyed{
	fill:#000000;
	fill-opacity:1;
	stroke: #000000;
}

#content{
	display : flex;
	flex-flow: line wrap;
	width:100%;
	flex-wrap: wrap
}
#content div{
	width:100%;
}
#wrapper {
	display : flex;
	align-content:space-around;
	height:100%;
}
#wrapper div{
	display:flex;
	flex-flow: column wrap;
	justify-content: space-between;
}
#selection button{
	margin-top:1.75vh;
	padding-top:0.1%
}
.text{
	border:none;
	margin-bottom:1.5vh;
}
#ennemies {
}